html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

/* Container do formulário */
.formContainer {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 358px;
}

/* Logo */
.logoLogin {
  width: 200px !important;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
/* Título da tela de login */
.titleLogin {
  font-family: "Josefin Sans", sans-serif;
  color: #5a276b;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-align: center;
}

/* Tela de fundo do login */
.mainLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 226, 243, 1) 100%
  );
  overflow: auto;
}

/* Título do formulário */
.formTitle {
  margin: 0 0 2rem;
  text-align: center;
  font-weight: 700;
  color: #5a276b;
  font-size: 1.5rem;
}

/* Botão de mostrar senha */
.eyePassword {
  position: absolute;
  right: 11%;
  top: 53%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #4a144a;
}

label {
  width: 127px;
}

/* Área de visualização (preview) */
.preview {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 8px;
  background: none;
  box-shadow: none;
  background: #ffff !important;
}

/* Imagens no corpo do post */
.preview .post-body img {
  width: 100%;
  max-width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
  margin: 2rem auto;
}

/* Legenda da imagem */
.preview .post-body figcaption {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
  text-align: center;
}

/* Header do post */
.post-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.post-header button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #007bff;
  color: white;
}

/* Informação extra (ex: salvar como rascunho) */
.save-info {
  font-size: 0.9rem;
  color: #555;
  margin-left: auto;
}

/* Campo de título */
.input-titulo {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  width: 100%;
  border: none;
  background: transparent;
  margin-bottom: 1rem;
}

.post-body {
  text-align: inherit;
}

/* Área do TinyMCE */
.tinymce {
  display: flex;
  justify-content: center;
  width: 80vw;
  background-color: transparent;
}

/* Editor TinyMCE (altura fixa) */
.tox {
  height: 736px !important;
}

img {
  width: 100vw !important;
  margin-left: 0;
  max-width: 100% !important;
  height: auto;
}

.tituloVisualizacao {
  font-size: 4.5rem;
  text-align: center;
}

.containerPost {
  display: flex;
  /* width: 80%; */
  margin: auto 14%;
  flex-direction: column;
  align-items: flex-start;
}

.postTitulo {
  text-align: center !important;
  /* background-color: blue; */
  width: 100%;
  font-size: 3rem;
}

.postBody {
  font-size: 1.5rem;
  /* background-color: yellow; */
  width: 100%;
}

.btn-login:hover {
  background-color: #c49cdf;
  color: #3d0e37;
}

.btn-login {
  background-color: #511977;
  color: #fff;
  font-family: "Josefin Sans";
  padding: 3% 0;
  font-size: 1.5rem;
  border-radius: 46px;
  border: none;
  cursor: pointer;
}

#password,
#email {
  height: 4vh;
  border-radius: 25px;
  background-color: #e9e9e9;
  border: none;
  font-size: 1rem;
  padding: 2% 5%;
  width: 300px;
}

.password-group,
.email-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.email-group {
  margin-bottom: 5%;
}

.forgetPassword {
  margin-bottom: 9px;
  font-size: 1rem;
}

.labeForm {
  font-size: 1.2rem;
  width: 28%;
}

input {
  outline: none;
  border: none !important;
  transition: background-color 0.3s, outline 0.3s;
}

input:focus,
input:focus-visible {
  outline: 2.5px solid #581955;
  background-color: #f0f8ff;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.textForget {
  margin: 12px;
  text-align: right;
}

.ItemListDash {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 25vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ItemListDash img {
  width: 100vw !important;
  margin-left: 0;
  max-width: 100% !important;
  height: 50%;
}

.post-list {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.dashboard-container {
  padding: 2%;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.dashboard-container h1 {
  font-family: "Josefin Sans", sans-serif;
}

.title-divider {
  width: 100%;
  height: 2px;
  background-color: #ccc; /* ou a cor que você quiser */
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #621766;
  color: #fff;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 32px;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  padding: 4px 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #c49cdf;
  color: #3d0e37;
}

.dashboard-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.btn-success {
  background-color: #396ca4;
  color: #fff;
  border: none;
  width: 180px;
  height: 50px;
  border-radius: 32px;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  padding: 4px 16px;
  cursor: pointer;
  margin-right: 24px;
}

.btn-success:hover {
  background-color: #0d2946;
  color: #faf1f9;
}

.btn-danger {
  background-color: #dd3327;
  color: #fff;
  border: none;
  width: 130px;
  height: 50px;
  border-radius: 32px;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  padding: 4px 16px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #410c08;
  color: #faf1f9;
}

.buttonCard {
  align-items: center;
  margin-top: 0.75rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.descCard h3 {
  margin: 0.75rem 0px 0.1rem;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
}

.remember-me-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  /* width: fit-content; */
  font-size: 1.3rem;
  justify-content: center;
}

.remember-me-group label {
  width: 147px;
}
.editBtn {
  background: transparent; /* Remove o fundo */
  color: #a482ac; /* Define a cor do texto */
  border: 2px solid #a482ac; /* Borda da mesma cor */
  border-radius: 35px;
  cursor: pointer;
  width: 30%;
  height: 40px;
  display: flex;
  gap: 9px;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.deleteBtn {
  padding: 0.5rem 1rem;
  background: transparent; /* Remover o fundo */
  color: rgb(220, 53, 69); /* Cor do texto */
  border: 2px solid rgb(220, 53, 69); /* Cor da borda */
  border-radius: 31px;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  cursor: pointer;
  width: 49%;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.3s ease; /* Suaviza hover e outros efeitos */
}

.principalBtn {
  margin-left: 0.3rem;
  display: flex;
  gap: 0.3rem;
  font-size: 1.2rem;
  width: fit-content;
  font-family: "Josefin Sans";
}

.deleteBtn:hover {
  background: rgba(220, 53, 69, 0.1);
}

.editBtn:hover {
  background: rgba(164, 130, 172, 0.1);
}

/*create post*/

.CreatePostHeader {
  display: flex;
  padding: 30px 20px 60px 20px;
  margin-bottom: 29px;
  justify-content: space-between;
  background-color: #e9ddef;
}

.CreatePostHeader h1 {
  font-size: 2.3rem;
  color: #4c274e;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.TituloPost {
  display: flex;
  justify-content: center;

}


.TituloPost input {
  font-size: 2rem;
  width: 95%;
  /* padding: 8px; */
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  border: 0.5px solid #b8b8b8 !important;
  background-color: #ffffff;
  padding: 1% 0;
}

.TituloPost input::placeholder {
  color: #d3d3d3;
  font-weight: 500;
}
.upload-box {
  /* width: 100%; */
  height: 300px;
  border-radius: 4px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* evita que imagem estoure os limites */
  border: 2px dashed #7d7d7d;
  margin: 20px;
}

.upload-box:hover {
  background-color: #e2e2e2;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  text-align: center;
}

.imageUpload img {
  width: 13% !important;
}

.imageUpload p {
  font-family: "Josefin Sans";
  font-size: 1.3rem;
}

.imageUpload p strong {
  color: #2a598b;
}

.upload-label {
  width: 100%;
  height: 100%;
  /* background-color: #dd3327; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnCreatePost {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btnCreatePost button {
  border-radius: 30px;
  border: none;
  background-color: #621766;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans";
  font-size: 1.3rem;
  padding: 12px 24px;
  display: flex;
  gap: 13px;
  cursor: pointer;
}

.Tags {
  width: 95%;
  height: fit-content;
  padding: 1%;
  margin: 1%;
  border: 0.5px solid #b8b8b8 !important;
  background-color: #ffffff;
}

.CreatePost {
  overflow: hidden;
  background-color: #fffdfa;
}

.tox-tinymce {
  margin: 0 1% !important;
}

.visualizarContainer{
  display: flex;
  justify-content: center;
}

.visualizar{
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  /* background-color: #587465; */
  width: 80%;

}

.mce-content-body img{
  width: 60%;
  height: auto;
}



/* ========================================================================= */
/* Global Styles */
/* ========================================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  color: #333;
  line-height: 1.6;
}

/* ========================================================================= */
/* Blog Container */
/* ========================================================================= */
.blogContainer {
  max-width: 3600px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* ========================================================================= */
/* Header Blog */
/* ========================================================================= */
.headerBlog {
  width: 100%;
  max-width: 3600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
  border-bottom: 1px solid #e0e0e0; /* Linha horizontal cinza clara */
  padding-bottom: 0.5rem; /* Espaço abaixo do logo */
  margin-bottom:  0.5rem; /* Espaço entre a linha e a navegação */
}




.headerBlog img {
  width: 15% !important;
  height: auto;
}

.naveHeader {
  display: flex;
  list-style: none;
  gap: 50px;
  padding-right: 80px;
}

.naveHeader li a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a144a;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.naveHeader li a:hover,
.naveHeader li a:focus {
  color: #621766;
  outline: 2px solid #621766;
}
